<script type="text/template" id="WRS_PLAY_VIDEO_POPUP_TML">
	<div class="video_popup_overlay close_video_modal wrs_play_video_popup wrs_close_video_modal"></div>
	<div class="play_video_popup video_popup wrs_play_video_popup">
		<a title="Close" href="#" class="media-modal-close close_video_modal wrs_close_video_modal"><span class="media-modal-icon"></span></a>
		<iframe src="<%= video_url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</script>